img {
    max-width: 70%;
    max-height: 70%;
}

#tim {
    image-rendering: pixelated;
}

.move-left {
    float: left;
    margin-right: -100%;
}

.move-left.deck-previous, .move-left.deck-before {
    transform: translate(-300%, 0);
}

.move-left.deck-current {
    transform: none;
}

i {
  font-style: italic;
}

.bad {
  color: #CC342B;
}

.bad:before {
  content: "✘";
}

.good {
  color: #198844;
}

.good:before {
  content: "✔";
}

.bad, .good {
  font-weight: bold;
}

.sliding {
    height: 15em;
    overflow: hidden;
}

code span {
    transition: opacity 0.3s;
}

/* vagrant-synced-folder */

.vagrant-synced-folder {
  opacity: 0.1;
}

.on-slide-vagrant-ansible-provisioner .vagrant-synced-folder,
.on-slide-vagrant-ansible-groups .vagrant-synced-folder,
.on-slide-vagrant-ansible-vars .vagrant-synced-folder,
.on-slide-vagrant-paths .vagrant-synced-folder,
.on-slide-vagrant-inventories .vagrant-synced-folder,
.on-slide-vagrant-security .vagrant-synced-folder {
  opacity: 0.8;
}

.on-slide-vagrant-synced-folder .vagrant-synced-folder {
  opacity: 1.0;
  font-weight: bold;
}

/* vagrant-ansible-provisioner */

.vagrant-ansible-provisioner {
  opacity: 0.1;
}

.on-slide-vagrant-ansible-groups .vagrant-ansible-provisioner,
.on-slide-vagrant-ansible-vars .vagrant-ansible-provisioner,
.on-slide-vagrant-paths .vagrant-ansible-provisioner,
.on-slide-vagrant-inventories .vagrant-ansible-provisioner,
.on-slide-vagrant-security .vagrant-ansible-provisioner {
  opacity: 0.8;
}

.on-slide-vagrant-ansible-provisioner .vagrant-ansible-provisioner {
  opacity: 1.0;
  font-weight: bold;
}

/* vagrant-ansible-groups */

.vagrant-ansible-groups {
  opacity: 0.1;
}

.on-slide-vagrant-ansible-vars .vagrant-ansible-groups,
.on-slide-vagrant-paths .vagrant-ansible-groups,
.on-slide-vagrant-inventories .vagrant-ansible-groups,
.on-slide-vagrant-security .vagrant-ansible-groups {
  opacity: 0.8;
}

.on-slide-vagrant-ansible-groups .vagrant-ansible-groups {
  opacity: 1.0;
  font-weight: bold;
}

/* vagrant-ansible-vars */

.vagrant-ansible-vars {
  opacity: 0.1;
}

.on-slide-vagrant-ansible-vars .vagrant-ansible-vars {
  opacity: 1.0;
  font-weight: bold;
}

.on-slide-vagrant-paths .vagrant-ansible-vars,
.on-slide-vagrant-inventories .vagrant-ansible-vars,
.on-slide-vagrant-security .vagrant-ansible-vars {
    opacity: 0.8;
}

/* vagrant-paths */

.vagrant-paths {
    opacity: 0.1;
}

.on-slide-vagrant-paths .vagrant-paths {
    opacity: 1.0;
    font-weight: bold;
}

.on-slide-vagrant-inventories .vagrant-paths,
.on-slide-vagrant-security .vagrant-paths {
    opacity: 0.8;
}

/* vagrant-inventories */

.vagrant-inventories {
    opacity: 0.1;
}

.on-slide-vagrant-inventories .vagrant-inventories {
    opacity: 1.0;
    font-weight: bold;
}

.on-slide-vagrant-security .vagrant-inventories {
    opacity: 0.8;
}

/* vagrant-security */

.vagrant-security {
    opacity: 0.1;
}

.on-slide-vagrant-security .vagrant-security {
    opacity: 1.0;
    font-weight: bold;
}

/* job-dsl-vars */

.job-dsl-vars {
  opacity: 0.1;
}

.on-slide-job-dsl-vars .job-dsl-vars {
  opacity: 1.0;
  font-weight: bold;
}

.on-slide-job-dsl-job .job-dsl-vars, .on-slide-job-dsl-definition .job-dsl-vars {
  opacity: 0.8;
}

/* job-dsl-job */

.job-dsl-job {
  opacity: 0.1;
}

.on-slide-job-dsl-job .job-dsl-job {
  opacity: 1.0;
  font-weight: bold;
}

.on-slide-job-dsl-definition .job-dsl-job {
  opacity: 0.8;
}

/* job-dsl-definition */

.job-dsl-definition {
  opacity: 0.1;
}

.on-slide-job-dsl-definition .job-dsl-definition {
  opacity: 1.0;
  font-weight: bold;
}

/* project-env */

.project-env {
    opacity: 0.1;
}

.on-slide-project-env .project-env {
    opacity: 1.0;
    font-weight: bold;
}

.on-slide-project-playbooks .project-env,
.on-slide-project-jobs .project-env,
.on-slide-project-vagrant .project-env
{
    opacity: 0.8;
}

/* project-playbooks */

.project-playbooks {
    opacity: 0.1;
}

.on-slide-project-playbooks .project-playbooks {
    opacity: 1.0;
    font-weight: bold;
}

.on-slide-project-jobs .project-playbooks,
.on-slide-project-vagrant .project-playbooks
{
    opacity: 0.8;
}

/* project-jobs */

.project-jobs {
    opacity: 0.1;
}

.on-slide-project-jobs .project-jobs {
    opacity: 1.0;
    font-weight: bold;
}

.on-slide-project-vagrant .project-jobs {
    opacity: 0.8;
}

/* project-vagrant */

.project-vagrant {
    opacity: 0.1;
}

.on-slide-project-vagrant .project-vagrant
{
    opacity: 1.0;
    font-weight: bold;
}

/* ci-git */

.ci-git {
    opacity: 0.1;
}

.on-slide-ci-git .ci-git {
    opacity: 1.0;
    font-weight: bold;
}

.on-slide-ci-inventories .ci-git,
.on-slide-ci-users .ci-git {
    opacity: 0.8;
}

/* ci-inventories */

.ci-inventories {
    opacity: 0.1;
}

.on-slide-ci-inventories .ci-inventories {
    opacity: 1.0;
    font-weight: bold;
}

.on-slide-ci-users .ci-inventories {
    opacity: 0.8;
}

/* ci-users */

.ci-users {
    opacity: 0.1;
}

.on-slide-ci-users .ci-users {
    opacity: 1.0;
    font-weight: bold;
}

/* pipeline */

.on-slide-pipeline-vars #pipeline-dsl,
.on-slide-pipeline-checkout #pipeline-dsl,
.on-slide-pipeline-checkout-git #pipeline-dsl,
.on-slide-pipeline-checkout-rsync #pipeline-dsl,
.on-slide-pipeline-checkout-ansible #pipeline-dsl,
.on-slide-pipeline-build #pipeline-dsl,
.on-slide-pipeline-test #pipeline-dsl,
.on-slide-pipeline-deploy-qa #pipeline-dsl
{
    transform: none;
}

code.pipeline {
    transition: transform 1.0s;
}

code.pipeline span {
    transition: opacity 1.0s;
}

/* pipeline-vars */

.pipeline-vars {
    opacity: 0.1;
}

.on-slide-pipeline-vars .pipeline-vars {
    opacity: 1.0;
    font-weight: bold;
}

.on-slide-pipeline-checkout .pipeline-vars {
    opacity: 0.8;
}

/* pipeline-checkout */

.pipeline-checkout {
    opacity: 0.1;
}

.on-slide-pipeline-checkout .pipeline-checkout {
    opacity: 1.0;
    font-weight: bold;
}

.on-slide-pipeline-checkout code.pipeline {
    transform: translate(0, -8em);
}

.on-slide-pipeline-checkout-git .pipeline-checkout,
.on-slide-pipeline-checkout-rsync .pipeline-checkout,
.on-slide-pipeline-checkout-ansible .pipeline-checkout,
.on-slide-pipeline-build .pipeline-checkout
{
    opacity: 0.8;
}

/* pipeline-checkout-git */

.pipeline-checkout-git {
    opacity: 0.1;
}

.on-slide-pipeline-checkout-git .pipeline-checkout-git {
    opacity: 1.0;
    font-weight: bold;
}

.on-slide-pipeline-checkout-git code.pipeline {
    transform: translate(0, -11.5em);
}

.on-slide-pipeline-checkout-rsync .pipeline-checkout-git {
    opacity: 0.8;
}

/* pipeline-checkout-rsync */

.pipeline-checkout-rsync {
    opacity: 0.1;
}

.on-slide-pipeline-checkout-rsync .pipeline-checkout-rsync {
    opacity: 1.0;
    font-weight: bold;
}

.on-slide-pipeline-checkout-rsync code.pipeline {
    transform: translate(0, -16em);
}

/* pipeline-checkout-ansible */

.pipeline-checkout-ansible {
    opacity: 0.1;
}

.on-slide-pipeline-checkout-ansible .pipeline-checkout-ansible {
    opacity: 1.0;
    font-weight: bold;
}

.on-slide-pipeline-checkout-ansible code.pipeline {
    transform: translate(0, -31em);
}

.on-slide-pipeline-build .pipeline-checkout-ansible {
    opacity: 0.8;
}

/* pipeline-build */

.pipeline-build {
    opacity: 0.1;
}

.on-slide-pipeline-build .pipeline-build {
    opacity: 1.0;
    font-weight: bold;
}

.on-slide-pipeline-build code.pipeline {
    transform: translate(0, -46em);
}

.on-slide-pipeline-test .pipeline-build {
    opacity: 0.8;
}

/* pipeline-test */

.pipeline-test {
    opacity: 0.1;
}

.on-slide-pipeline-test .pipeline-test {
    opacity: 1.0;
    font-weight: bold;
}

.on-slide-pipeline-test code.pipeline {
    transform: translate(0, -56em);
}

/* pipeline-deploy-qa */

.pipeline-deploy-qa {
    opacity: 0.1;
}

.on-slide-pipeline-deploy-qa .pipeline-deploy-qa {
    opacity: 1.0;
    font-weight: bold;
}

.on-slide-pipeline-deploy-qa code.pipeline {
    transform: translate(0, -67em);
}
