img {
    max-width: 70%;
    max-height: 70%;
}

#tim {
    image-rendering: pixelated;
}

.move-left {
    float: left;
    margin-right: -100%;
}

.move-left.deck-previous, .move-left.deck-before {
    transform: translate(-300%, 0);
}

.move-left.deck-current {
    transform: none;
}

i {
  font-style: italic;
}

.bad {
  color: #CC342B;
}

.bad:before {
  content: "✘";
}

.good {
  color: #198844;
}

.good:before {
  content: "✔";
}

.bad, .good {
  font-weight: bold;
}

.vagrant-synced-folder {
  opacity: 0.1;
}

.on-slide-vagrant-ansible-provisioner .vagrant-synced-folder, .on-slide-vagrant-ansible-groups .vagrant-synced-folder, .on-slide-vagrant-ansible-vars .vagrant-synced-folder {
  opacity: 0.8;
}

.on-slide-vagrant-synced-folder .vagrant-synced-folder {
  opacity: 1.0;
  font-weight: bold;
}

.vagrant-ansible-provisioner {
  opacity: 0.1;
}

.on-slide-vagrant-ansible-groups .vagrant-ansible-provisioner, .on-slide-vagrant-ansible-vars .vagrant-ansible-provisioner {
  opacity: 0.8;
}

.on-slide-vagrant-ansible-provisioner .vagrant-ansible-provisioner {
  opacity: 1.0;
  font-weight: bold;
}

.vagrant-ansible-groups {
  opacity: 0.1;
}

.on-slide-vagrant-ansible-vars .vagrant-ansible-groups {
  opacity: 0.8;
}

.on-slide-vagrant-ansible-groups .vagrant-ansible-groups {
  opacity: 1.0;
  font-weight: bold;
}

.vagrant-ansible-vars {
  opacity: 0.1;
}

.on-slide-vagrant-ansible-vars .vagrant-ansible-vars {
  opacity: 1.0;
  font-weight: bold;
}

/* job-dsl-vars */

.job-dsl-vars {
  opacity: 0.1;
}

.on-slide-job-dsl-vars .job-dsl-vars {
  opacity: 1.0;
  font-weight: bold;
}

.on-slide-job-dsl-job .job-dsl-vars, .on-slide-job-dsl-definition .job-dsl-vars {
  opacity: 0.8;
}

/* job-dsl-job */

.job-dsl-job {
  opacity: 0.1;
}

.on-slide-job-dsl-job .job-dsl-job {
  opacity: 1.0;
  font-weight: bold;
}

.on-slide-job-dsl-definition .job-dsl-job {
  opacity: 0.8;
}

/* job-dsl-definition */

.job-dsl-definition {
  opacity: 0.1;
}

.on-slide-job-dsl-definition .job-dsl-definition {
  opacity: 1.0;
  font-weight: bold;
}

/* pipeline-checkout-stage */

.pipeline-checkout-stage {
  opacity: 0.1;
}

.on-slide-pipeline-checkout-git .pipeline-checkout-stage, .on-slide-pipeline-checkout-rsync .pipeline-checkout-stage {
  opacity: 0.8;
}

.on-slide-pipeline-checkout-stage .pipeline-checkout-stage {
  opacity: 1.0;
  font-weight: bold;
}

/* pipeline-checkout-git */

.pipeline-checkout-git {
  opacity: 0.1;
}

.on-slide-pipeline-checkout-rsync .pipeline-checkout-git {
  opacity: 0.8;
}

.on-slide-pipeline-checkout-git .pipeline-checkout-git {
  opacity: 1.0;
  font-weight: bold;
}

/* pipeline-checkout-rsync */

.pipeline-checkout-rsync {
  opacity: 0.1;
}

.on-slide-pipeline-checkout-rsync .pipeline-checkout-rsync {
  opacity: 1.0;
  font-weight: bold;
}

/* project-env */

.project-env {
    opacity: 0.1;
}

.on-slide-project-env .project-env {
    opacity: 1.0;
}

.on-slide-project-env .project-env .file {
    font-weight: bold;
}

.on-slide-project-playbooks .project-env,
.on-slide-project-jobs .project-env,
.on-slide-project-vagrant .project-env
{
    opacity: 0.8;
}

/* project-playbooks */

.project-playbooks {
    opacity: 0.1;
}

.on-slide-project-playbooks .project-playbooks {
    opacity: 1.0;
}

.on-slide-project-playbooks .project-playbooks .file {
    font-weight: bold;
}

.on-slide-project-jobs .project-playbooks,
.on-slide-project-vagrant .project-playbooks
{
    opacity: 0.8;
}

/* project-jobs */

.project-jobs {
    opacity: 0.1;
}

.on-slide-project-jobs .project-jobs {
    opacity: 1.0;
}

.on-slide-project-jobs .project-jobs .file {
    font-weight: bold;
}

.on-slide-project-vagrant .project-jobs {
    opacity: 0.8;
}

/* project-vagrant */

.project-vagrant {
    opacity: 0.1;
}

.on-slide-project-vagrant .project-vagrant
{
    opacity: 1.0;
}

.on-slide-project-vagrant .project-vagrant .file {
    font-weight: bold;
}
