#tim {
    image-rendering: pixelated;
    max-width: 70%;
    max-height: 70%;
    float: left;
    margin-right: -100%;
}

#tim.deck-previous, #tim.deck-before {
    transform: translate(-150%, 0);
}

i {
  font-style: italic;
}
